body {
    margin: 0;
    font-family: 'Work Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #f2f2f2;
    color: black; /* Color de las letras en negro */
}

.header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.header img {
    width: 200px;
}

.contact-link {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.instagram-link {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.instagram-link img {
    width: 30px;
    height: 30px;
}

.content-container {
    display: flex;
    flex-direction: row; /* Default to row */
    padding: 20px;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: #f2f2f2;
    margin: 0 40px; /* Adds larger margins on the sides */
    height: 100vh; /* Full viewport height */
}

.text-content {
    flex: 1;
    padding-right: 40px; /* Increased padding to the right */
    font-size: 2.5rem; /* Increase text size */
    line-height: 3rem; /* Adjust line height */
    text-align: left; /* Align text to the left */
    margin-left: 40px; /* Add margin to the left */
}

.text-content h2, .text-content p {
    margin-bottom: 30px; /* Adjust bottom margin */
}

.small-text {
    font-size: 1rem; /* Reduce text size */
    line-height: 1.5rem; /* Adjust line height */
    margin-bottom: 20px; /* Adjust bottom margin */
    font-weight: bold; /* Make the text bold */
}

.image-content {
    flex: 1;
    text-align: right; /* Align image to the right */
    padding: 0; /* Remove padding */
    margin-right: 40px; /* Add margin to the right */
}

.side-image {
    max-width: 100%;
    height: auto;
}

.additional-section {
    background-color: #f2f2f2;
    padding: 60px 20px 40px; /* Adjust padding */
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    border: none;
}

.additional-section h3 {
    margin-top: 0;
    font-size: 2.5rem; /* Increase text size */
    text-align: left;
    border-bottom: none;
    padding-bottom: 10px; /* Adjust bottom padding */
}

.info-section {
    padding: 10px 0; /* Adjust padding */
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.info-section h4 {
    margin: 0 0 10px;
    font-weight: normal; /* Normal font weight */
    text-align: left;
}

.info-section p {
    margin: 0;
}

.bold-text {
    font-weight: bold; /* Make the text bold */
}

.underline-bold-text {
    font-weight: bold; /* Make the text bold */
    text-decoration: underline; /* Underline the text */
}

.decorative-line {
    width: 100%; /* Adjust line width */
    max-width: 800px;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

.decorative-line.last {
    border: 2px dashed #000;
    background-color: transparent; /* Different design for the last line */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust gap between form fields */
    margin-top: 20px; /* Adjust top margin */
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.875rem; /* Font size for labels */
    color: #000;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], button, textarea {
    width: 100%; /* Full width for form elements */
    padding: 10px; /* Increase padding */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 1rem; /* Font size for input fields */
}

button {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-family: 'Work Sans', Arial, sans-serif;
    padding: 10px 20px; /* Add padding to button */
    font-size: 1rem; /* Font size for button */
}

button:hover {
    background-color: #333333;
}

/* Styles for parallax effect */
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin: 40px 0;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Styles for the last contact section */
.additional-content {
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    padding-top: 40px; /* Adjust padding */
}

.left-content-reversed {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.right-content-reversed {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.center-text {
    text-align: center; /* Center text */
    margin-right: 40px; /* Add margin to the right */
}

.spaced-blocks p {
    line-height: 1.8;
}

h2 {
    margin-top: 0;
    font-size: 3rem; /* Increase text size */
    line-height: 1.2;
    text-align: left; /* Align text to the left */
    margin-bottom: 20px; /* Adjust bottom margin */
}

p {
    margin-bottom: 0;
    text-align: left; /* Align text to the left */
}

/* Styles for contact information */
.contact-info {
    background-color: #59453cd0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.contact-info h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Media Queries for mobile devices */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Change to column on small screens */
        height: auto; /* Auto height for small screens */
    }

    .image-content img {
        width: 100%; /* Ensure image takes full width */
    }

    .additional-section {
        padding: 40px 20px; /* Adjust padding for mobile */
    }

    .additional-content {
        padding-top: 20px; /* Adjust padding for mobile */
    }

    form {
        width: 100%; /* Ensure form takes full width */
    }

    input[type="text"], input[type="email"], input[type="tel"], button, textarea {
        width: 90%; /* Ensure form fields take 90% width */
    }

    .center-text {
        margin-right: 0; /* Remove margin on small screens */
    }
}

