body {
    margin: 0;
    font-family: 'Work Sans', Arial, sans-serif;
    scroll-behavior: smooth; /* Desplazamiento suave */
    background-color: rgba(80, 53, 53, 0.138); /* Fondo general */
}

.full-width-image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-text h2, .overlay-text p {
    margin: 0 0 10px;
}

.info-title-container {
    text-align: center;
    margin: 80px 0 40px 0; /* Increased space before and after title */
}

.info-title-container h3 {
    color: black;
    font-size: 2rem;
}

.container-row {
    display: flex;
    justify-content: space-around;
    padding: 40px 0; /* Increased padding for more space around images */
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
}

.square-container {
    width: 100%;
    padding-bottom: 100%; /* Maintain square aspect ratio */
    position: relative;
}

.square-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.image-overlay h4 {
    font-size: 2.5rem; /* Increased font size */
    font-weight: bold;
    margin: 0;
}

.info-section {
    text-align: center;
    color: black;
    margin-top: 20px; /* Increased margin-top for more space */
}

.info-button {
    background-color: #8B4513; /* Café */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.info-content {
    display: none;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.header {
    background-color: #ffffff; /* Fondo color blanco */
    text-align: center;
    padding: 20px 0; /* Espaciado interno */
    position: relative;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.header img {
    width: 200px; /* Tamaño del logo */
}

.contact-link {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #000000; /* Color negro */
    font-size: 1rem;
    font-weight: bold;
}

.instagram-link {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.instagram-link img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
}

.black-line {
    width: 100%;
    height: 5px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: rgba(80, 53, 53, 0.333); /* Color negro */
}

.content, .additional-content {
    display: flex;
    background-color: rgba(80, 53, 53, 0.138); /* Fondo color gris */
    align-items: center; /* Alinea verticalmente al centro */
}

.left-content, .right-content, .left-content-reversed, .right-content-reversed {
    flex: 1;
    text-align: center;
    padding: 20px;
}

h2 {
    margin-top: 0; /* Elimina el margen superior por defecto */
    font-size: 2rem; /* Tamaño de fuente */
    line-height: 1.2; /* Ajusta la altura de la línea si es necesario */
    text-align: center; /* Centrar el texto */
}

p {
    margin-bottom: 0; /* Elimina el margen inferior por defecto */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="email"], input[type="tel"], button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados */
    box-sizing: border-box;
    font-family: 'Work Sans', Arial, sans-serif; /* Usar Work Sans */
}

button {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    cursor: pointer;
    border: none; /* Sin borde */
    font-family: 'Work Sans', Arial, sans-serif; /* Usar Work Sans */
}

button:hover {
    background-color: #333333; /* Color de fondo al pasar el ratón */
}

/* Estilos para el efecto parallax */
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Altura para cubrir toda la ventana del navegador */
    width: 100%;
    margin: 40px 0; /* Más espacio alrededor de las secciones */
}

.parallax {
    position: absolute;
    top: -25%; /* Ajusta la imagen para que siempre se vea */
    left: 0;
    width: 100%;
    height: 150%; /* Hacer la imagen más alta que el contenedor para el efecto parallax */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    object-position: center; /* Centra la imagen en el contenedor */
    transition: transform 0.3s ease;
}

/* Estilos para la información de contacto */
.contact-info {
    background-color: #59453cd0; /* Color café crema oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 40px 20px; /* Increased padding for more space */
    text-align: center;
}

.contact-info h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1rem;
}

