body {
    margin: 0;
    font-family: 'Work Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #f2f2f2;
    color: black;
}

.header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.header img {
    width: 200px;
}

.contact-link {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.instagram-link {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.instagram-link img {
    width: 30px;
    height: 30px;
}

.content-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin: 0 40px;
}

.text-content {
    flex: 1;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

.text-content h2, .text-content p {
    margin-bottom: 30px;
    text-align: left;
}

.text-content h2 {
    font-size: 3.5rem;
    margin-bottom: 80px;
}

.text-content .spaced-text {
    font-size: 3.5rem;
    margin-top: 80px;
    margin-bottom: 80px;
}

.small-text {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

.image-content {
    flex: 1;
    text-align: right;
    padding: 0;
    margin-left: 40px;
}

.side-image {
    max-width: 100%;
    height: auto;
}

.additional-section {
    background-color: #f2f2f2;
    padding: 60px 0 40px;
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
    border: none;
}

.additional-section h3 {
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
}

.info-section {
    padding-left: 0;
    padding-right: 0;
    max-width: calc(100% - 250px);
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
}

.info-section h4 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: left;
    font-size: 1.5rem;
}

.info-section p {
    justify-content: space-between;
    margin: 0 0 20px 0;
    max-width: calc(100% - 250px);
    font-size: 1.25rem;
    text-align: left;
}

.info-section .bold-text {
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
}

.info-section .underline-bold-text {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.25rem;
    text-align: left;
}

.decorative-line {
    width: calc(100% - 250px);
    max-width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    max-width: 500px;
    margin-left: 0;
    margin-right: auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-group-full {
    flex: 1;
}

label {
    font-size: 0.875rem;
    color: #000;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"], textarea::placeholder {
    color: #999;
}

button {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-family: 'Work Sans', Arial, sans-serif;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    text-transform: uppercase;
    width: fit-content;
    align-self: center;
}

button:hover {
    background-color: #333333;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.additional-content {
    display: flex;
    background-color: white;
    align-items: flex-start;
    padding-top: 0;
}

.left-content-reversed {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.right-content-reversed {
    flex: 1;
    text-align: left;
    padding: 20px;
    padding-top: 0;
    margin-left: 40px;
}

.center-text {
    text-align: left;
    margin-bottom: 20px;
    max-width: 500px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-text h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-align: left;
}

.center-text p {
    max-width: 500px;
    margin-left: 0;
}

h2 {
    margin-top: 0;
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 0;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    background-color: #59453cd0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.contact-info h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
    .content-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .text-content, .image-content {
        margin: 20px 0;
    }

    .additional-content {
        flex-direction: column;
    }

    .right-content-reversed {
        margin-left: 0;
        padding: 20px 0;
    }

    .center-text {
        padding-top: 20px;
    }

    form {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .text-content, .image-content {
        margin: 10px 0;
    }

    .additional-content {
        flex-direction: column;
    }

    .right-content-reversed {
        margin-left: 0;
        padding: 10px 0;
    }

    .center-text {
        padding-top: 10px;
        max-width: 100%;
    }

    form {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        gap: 20px;
    }

    .form-group {
        gap: 10px;
        flex-direction: column;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select {
        width: 100%;
    }

    .additional-section h3 {
        padding-left: 20px;
        font-size: 2rem;
    }

    .text-content {
        font-size: 1.75rem;
        margin: 0 20px;
        padding: 0 20px;
    }

    .small-text {
        font-size: 1rem;
        margin: 0 20px;
        padding: 0 20px;
    }

    .info-section {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .info-section h4, .info-section p {
        text-align: center;
    }

    .info-section p {
        margin-left: auto;
        margin-right: auto;
    }

    .decorative-line {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .content-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .text-content, .image-content {
        margin: 5px 0;
    }

    .additional-content {
        flex-direction: column;
    }

    .right-content-reversed {
        margin-left: 0;
        padding: 5px 0;
    }

    .center-text {
        padding-top: 5px;
        max-width: 100%;
    }

    form {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        gap: 10px;
    }

    .form-group {
        gap: 5px;
        flex-direction: column;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select {
        width: 100%;
    }

    .additional-section h3 {
        padding-left: 10px;
        font-size: 1.5rem;
    }

    .text-content {
        font-size: 2.4rem; /* Ajuste realizado */
        margin: 0 20px;
        padding: 0 20px;
    }

    .text-content h2 {
        font-size: 2.4rem; /* Ajuste realizado */
    }

    .text-content .spaced-text {
        font-size: 2.4rem; /* Ajuste realizado */
    }

    .small-text {
        font-size: 1.5rem;
        margin: 0 20px;
        padding: 0;
    }

    .info-section {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .info-section h4, .info-section p {
        text-align: center;
    }

    .info-section p {
        margin-left: auto;
        margin-right: auto;
    }

    .decorative-line {
        margin: 20px auto;
    }
}
